{% extends "layout.html" %}

{% block title %}
    Contacts
{% endblock %}

{% block main %}
    <div>
        <ul>
            {% for contact in contacts %}
                <li><a href="/chat?name={{ contact.username }}">{{ contact.username }} {{contact.new_messages if contact.new_messages else ''}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <form action="/chat">
            <input name="name" type="text" required>
            <input type="submit" value="Chat">
        </form>
    </div>
{% endblock %}