{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block nav %}
    <a href="/register"><button class="btn btn-sm btn-outline-light me-2" type="button">Register</button></a>
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div style="height: 20px"></div>
        <div class="mb-3 mt-5">
            <input name="username" type="text" autofocus required autocomplete="off" placeholder="Username">
        </div>
        <div class="mb-3">
            <input name="password" type="password" required autocomplete="off" placeholder="Password">
        </div>
        <input class="btn btn-outline-dark" type="submit" value="Log In">
    </form>
    <div class="mt-3">{{ error }}</div>
{% endblock %}